*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} */
/* ---------------------- */
@font-face {
    font-family: Raleway400;
    src: url("./fonts/Raleway-Regular.woff2") format("woff2"),
    url("./fonts/Raleway-Regular.woff") format("woff"),
    url("./fonts/Raleway-Regular.ttf") format("truetype"),
    url("./fonts/Raleway-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: Raleway500;
    src: url("./fonts/Raleway-Medium.woff2") format("woff2"),
    url("./fonts/Raleway-Medium.woff") format("woff"),
    url("./fonts/Raleway-Medium.ttf") format("truetype"),
    url("./fonts/Raleway-Medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Raleway700;
    src: url("./fonts/Raleway-Bold.woff2") format("woff2"),
    url("./fonts/Raleway-Bold.woff") format("woff"),
    url("./fonts/Raleway-Bold.ttf") format("truetype"),
    url("./fonts/Raleway-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: OpenSans700;
    src: url("./fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./fonts/OpenSans-Bold.woff") format("woff"),
    url("./fonts/OpenSans-Bold.ttf") format("truetype"),
    url("./fonts/OpenSans-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans600;
    src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./fonts/OpenSans-SemiBold.woff") format("woff"),
    url("./fonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("./fonts/") format("eot");
    font-weight: 600;
    font-style: normal;
}

/* header */

body{
    margin:0;
}

.header{
    background: #000;
    width: 100%;
    
}

ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 76px;

}

.nav__menu{
    display: flex;
}

nav li a{
    text-decoration: none;
    color: #fff;
}


.nav li:not(:first-child) {
    margin-left: 60px
}

/* ... */

.container {
    max-width: 1170px;
    margin: auto;
}  

.title {
    font-family: Raleway400;
    font-size: 36px;
    line-height: 42px;
}

.subtitle {
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    color:#86878B;
} 

hr{
    border-top: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* banner */
.banner{
    background-image: url('./img/image.png');
    width: 100%;
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner__header{ 
	position: relative;
    background-color:rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.logo__banner{
    width: 170px;
    height: 55px;
}

.line{
    border-top: 1px solid #fff;
    width: 170px;
    align-items:left;
    padding-bottom: 40px;
}

.banner__wrapper{
    display: flex;
    justify-content: space-evenly;
}

.banner__content{
    margin-top: 231px;
}

.banner__title{
    font-family: Raleway500;
    font-size: 48px;
    line-height: 56px;
    color:#fff;
    padding-top: 50px;
    padding-bottom: 63px;
    width: 670px;
}
.banner__subtitle {
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    color: #ffff;
    padding-bottom: 63px;
    height: 42px;
    width: 270px;
}

/* .banner__title, .banner__subtitle {
    text-align: left;
} */


.banner__btn{
    font-family: OpenSans600;
    font-size: 18px;
    line-height: 25px;
    color:#fff;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: 270px;
    height: 58px;
    background-color:rgba(0, 0, 0, 0)  
}

.banner__form{
    background: #FFFFFF;
    border-radius: 10px;
    width: 470px;
    height: 450px;
    margin-top: 208px;
}

.banner__form legend{
    font-family: OpenSans700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 45px; 
    padding: 45px;
    
}

legend span{
    color:#EC7979;
}

.form__content{
    text-align:center;
}

.form__content input{
    font-family: OpenSans400;
    font-size: 14px;
    line-height: 19px;
    width:80%;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    height:38px;
    margin-bottom: 33px;
}

.form__content input:last-child{
    margin-bottom: 75px;
}

.form__btn{
    font-family: OpenSans600;
    font-size: 15px;
    line-height: 20px;
    color:#fff;
    width: 470px;
    height: 60px;
    background-color:#EC7979;
    border-radius: 0px 0px 10px 10px;
}

/* socialmedia */

.socialmedia__wrapper{
    display: flex;
    justify-content: space-between;
}

.socialmedia__text{
    display: flex;
    flex-direction: column;
    width: 470px;
}

.socialmedia__text h4{
    font-family: OpenSans700;
    font-size: 24px;
    line-height: 33px;
    height: 60px;
} 

.socialmedia__text p{
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
} 

.socialmedia__icons{
    margin-top: auto;
}

.socialmedia__icons a{
    width: 70px;
    height: 70px;
    margin: 10px;
}

/* tabs */

 .tabs__header{ 
    display: flex;
    margin-top: 117px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 570px;
    color:#333333;}

.tabs__item{
    width: 190px;
    height: 40px;
    margin:auto;
}

.tabs__item:active {
   box-sizing: border-box;
   border: 1px solid #C6CBCD;
   border-radius: 5px 5px 0px 0px;
}

/* .tabs__item:checked {
    box-sizing: border-box;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px; }*/


.tabs__content{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    border: 1px solid #C6CBCD;
}

.tabs__title{
width:1170px;
margin-left: 100px;
}

.tabs__title h3{
    font-family: 'OpenSans700';
    font-size: 30px;
    line-height: 41px;
    width: 570px;
    height: 124px;
    display: flex;
    align-items:center;
}
.tabs__text{
    font-family: 'Raleway400';
    font-size: 18px;
    line-height: 21px;
    width: 570px;
    height: 210px;
    margin-right: 30px;
    margin-top: 27px;
}

.tabs__btn{
    font-family: 'OpenSans600';
    font-size: 18px;
    line-height: 25px;
    color:#fff;
    background-color:#EC7979;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 270px;
    height: 58px;
    margin-top: 27px;
}

/*advantages */

.advantages__title {
    padding-top: 50px;
    padding-bottom: 62.75px;
}
.advantages__subtitle {
    padding-top: 50px;
    padding-bottom: 62.75px;
}

.advantages__title, .advantages__subtitle {
    text-align: center;
}

.advantages{
    background-color:#F5F5F5;
    padding: 50px 0;
}

.advantages-row{
    display: flex;
    flex-wrap: wrap;
    column-gap:30px;
}

.advantages__head{
    color: #000;
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    Height:383px;
}

.advantages__slogan {
    font-family: OpenSans700;
    color: #000;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    Height:100px; 
    padding-top: 39px;
}

.advantages__head p{
    color: #000;
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 370px;
    margin-top: 8px;
}


/*pricelist */

.pricelist__title {
    padding-top: 50px;
    padding-bottom: 62.75px;
}
.pricelist__subtitle {
    padding-top: 50px;
    padding-bottom: 62.75px;
}

.pricelist__title, .pricelist__subtitle {
    text-align: center;
}

.price {
    width: 370px;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.price:hover{
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -o-transform: translate(0,-20px);
    -moz-transform: translate(0,-20px);
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}
.price__head{
    background-color:#333333;
    color: #ffffff;
}

.price__tp {
    height: 60px;
    font-family: OpenSans700;
    font-size: 24px;
    line-height: 33px;
}
.price__count {
    height: 100px;
    font-family: Raleway700;
    font-size: 36px;
    line-height: 42px;
}
.price__slogan {
    color: #FFFFFF80;
    height: 50px;
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    color:#86878B;
}
.price__list li {
    background-color: #FFFFFF;
    height: 50px;
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    color:#86878B;
}

.price__list li, .price__slogan, .price__count, .price__tp {
    border: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.footer{
    background: #000;
    width: 100%;
    height: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons{
    margin-bottom: 28px;
    margin-top: 35px;
}

.footer__icons a{
    width: 53px;
    height: 53px;
    margin-right: 38px;
}

.footer__text{
    font-family: Raleway400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 28px;
}
/* .footer_wrapper{
    max-width: 1170px;
    margin: auto;
} */

